# Основные библиотеки для анализа данных и машинного обучения
pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.2.0

# Библиотека градиентного бустинга
catboost>=1.1.0

# Библиотека для создания веб-приложений
streamlit>=1.20.0

# Библиотека для автоматической оптимизации гиперпараметров
optuna>=3.0.0